#container {
    width: 660px;
    height: 400px;
    margin: 50px auto;
    position: relative;
}

#sketch-pad {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.grid-square {
    width: 30px;
    height: 20px;
    float: left;
    background-color: white;
}

#left-slider {
    width: 30px;
    height: 400px;
    border-right: 1px solid black;
    position: absolute;
    left: 0;
    cursor: pointer;
}

#right-slider {
    width: 30px;
    height: 400px;
    border-left: 1px solid black;
    position: absolute;
    right: 0;
    cursor: pointer;
}

#reset {
    width: 660px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.dot {
    width: 30px;
    height: 20px;
    background-color: gray;
    position: absolute;
}
